{
  "trailingComma": "es5",
  "singleQuote": false,
  "semi": true,
  "printWidth": 80,
  "importOrder": ["^[~]", "^[./]"],
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"]
}
