language: node_js
node_js:
  - "14"
branches:
  only:
  - main
cache:
  directories:
    - node_modules
    - .next
script:
  - npm run test
  - npm run build
deploy:
  provider: pages
  cleanup: true
  local_dir: out
  token: $GITHUB_TOKEN
  target_branch: gh-pages
  keep_history: true
  on:
    branch: main