.vscode/**
.vscode-test/**
.github/**
.turbo/**
node_modules/**
scripts/**
src/**
.gitignore
.env
.prettierignore
.prettierrc
.pnpm-lock.yaml
webpack.config.js
tsconfig.extension.json
vsc-extension-quickstart.md
yarn.lock
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
